@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0px;
	font-family: Arial, Lucida Sans Unicode, Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: black;
}

.home{
//	background: #00A772 url(images/bg.png) repeat-x top;	
	background: #006bae url(images/bg.png) repeat-x top;	
}

.page{
//	background: #00A772 url(images/inner_bg.png) repeat-x top;	
	background: #006bae url(images/inner_bg.png) repeat-x top;	
}

.single{
	background: #006bae url(images/inner_bg.png) repeat-x top;	
}

.type-post{
	background: white;
}

.type-page{
	background: white;	
}

.wp-caption {
	background: #f1f1f1;
	font-style:italic;
}

.page h1{
	color:black;
	font-size:18px;
	margin:0px!important;

}

a{
//	color: #009C6A;
	color: #006bae;
	text-decoration: none;
}


img{ 
	border: 0px; 
}

.container{
	width: 1024px;
	margin: 0 auto;
}

.header{
	background: white;	
	overflow: hidden;
	height:130px;
	margin:0 15px 0 0px;
	color:black;
}

.logo{
	float: left;
	width: 270px;
	padding-left:30px;
}

.nav{
	float:right;

}

.links{
	background: url(images/contact.png) no-repeat top;	
	float:right;
	font-size:14px;
	padding-top:15px;
	text-align:center;
	width:270px;
	height:30px;
	color:#777777;
	clear:both;
	margin-right:50px;
}

.links a{
	color:#777777;
	padding-right:5px;
	padding-left:5px;
}

.links ul {margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; }
.links li {display: inline; }

.links a:hover{
	color: #006bae;
//	color: #009C6A;
}

.menus{
//	height:26px;
//	height:56px;
        float:right;
        font-size:14px;
        padding-top:15px;
        text-align:center;
        width:270px;
        height:30px;
        color:#777777;
        clear:both;
        margin-right:50px;

	width:500px;
	height:100px;
	padding:20px 0 0 20px;
}

.menus ul {margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; }
.menus li {display: inline; }


.menus a{
	color:#343434;
	font-weight:bold;
	font-size:18px;
	padding-right:10px;
	color:#343434;
}

.menus a:hover{
	font-weight:bold;
	font-size:18px;
	padding-right:10px;
	color: #006bae;
//	color: #009C6A;
}

.content{
	margin-left:20px;
}


.contentin{
	margin-left:20px;
	background: url(images/feature_bg.png) repeat-y top;
}

.teaser{
	height:330px;
}

.tl{
	float:left;
	width:450px;
	padding-top:50px;
	color:#9B9B9B;
	font-size:16px;
	margin-right:40px;
	line-height:20px;
}

.tl big{
	font-size:35px;
	color:#006bae;
//	color:#009A69;
}

.tr{
	float:left;
	width:400px;
	padding-right:40px;
}

.bar{
	height:145px;

}

.barl{
	float:left;
	width:495px;
	padding-right:10px;
	height:126px;
	padding-top:20px;
	position:relative;
}

.barr{
	float:left;
	width:495px;
	height:126px;
	padding-top:20px;
}

.bar_buttom{
	position:absolute;
	height:25px;
	padding-left:130px;
	text-align:center;
}

.img_bar{
	float:left;
	max-width:120px;
	text-align:right;
	padding-right:20px;
	height:100px;

}

.bar_text{
	float:left;
	width:350px;
	color:#777777;
	vertical-align:middle;
	height:100px;
}

.bar_text b{
	color:#343434;
	font-size:17px;

}

.features{
	background: url(images/content_bg.png) no-repeat top center;

}
.toptmenu{
	padding: 30px 0px 0px 0px;
	margin-left:6px;
	color: white;
	font-weight: bold;
//	background:#00A772 url(images/features_bg.png) no-repeat bottom left;
	background:#006bae url(images/features_bg.png) no-repeat bottom left;

}


#toptmenui{
	float: left;	
	padding: 8px 10px 0px 10px;
	height:30px;
	width:178px;
	text-align:center;
	font-size:17px;
}

.toptmenu .selected{
	padding: 8px 10px 0px 10px;
	float: left;	
	height:30px;
	width:178px;
	text-align:center;
	font-size:17px;
	color: red;
	margin-right:5px;
	background:  url(images/feature_white.png) no-repeat top center; 
//	color:#009C6A;!important
	color:#006bae;!important
}

.toptmenu a{ color: white; text-decoration: none;}
.toptmenu a:hover{ color: red; }

//.toptmenu .selected a{ color: #009C6A;!important}
.toptmenu .selected a{ color: #006bae;!important}

.popc{
	background: url(images/feature_bg.png) repeat-y top;
	padding:10px 7px 0 30px;

}

.pagein{
	padding:30px 40px 40px 40px;
	font-size:16px;
	color:#7F7F7F;
}
.featurebox{
	background: url(images/feat_bg.png) no-repeat bottom right;
	min-height:470px;
	padding-left:60px;
	padding-top:10px;
	position:relative;

}

.featurebox a:hover {
	text-decoration:underline;
}


.featbox{
	float:left;
	width:400px;
	padding-right:50px;
	padding-top:20px;
	padding-bottom:10px;
}

.featimg{
	float:left;
	width:80px;
}

.featext{
	float:left;
	width:280px;
	color:#777777;
	font-size:14px;
}

.featext b{
	color:black;
	font-size:16px;
}

.featbuttom{
	position: absolute; 
	bottom: 0;
	padding-left:30px;
	padding-bottom:15px;
	height:35px;

}

.tourbuttom{
	position: absolute; 
	bottom: 0;
	padding-left:140px;
	height:25px;
	
}

.tourbuttom img{
	padding-right:5px;
}

.footer{
	background: url(images/footer.png) no-repeat bottom right;
	height:200px;
	padding:15px 10px 0 30px ;
	width: 994px;
	margin: 0 auto;
}

.foot{
//	background:#003020 url(images/foot.png) repeat-x  top left;
	background:#04395a url(images/foot.png) repeat-x  top left;

}

.footimg{
	float:left;
	width:200px;
	text-align:center;
	border-right: #CCCCCC 1px solid;
	margin:20px 10px 10px 0;
	padding: 0 10px 10px 20px;
	
}

.footext{
	float:left;
	width:700px;
	padding-top:40px;
	color:#B4B4B4;
	padding-left:20px;
	font-size:16px;
}

.footext a{
	color:#006bae;
}

.footext b{
	color:#6BAA0F;
	font-size:22px;
}


.footin{
	padding:15px 10px 60px 60px ;
	width: 994px;
	margin: 0 auto;
	color:#DFE5E3;
	font-size:14px;
}

.footin a{
	color:#DFE5E3;
}

.footin a:hover{
	color:#006bae;
//	color:#6BAA0F;
}


.copyright{
	float:left;
	width:250px;
	border-right:#426459 1px solid;
	margin-left:30px;
	padding-bottom:10px;
	height:80px;
	
}

.address{
	float:left;
	width:170px;
	border-right:#426459 1px solid;
	margin-left:30px;
	padding-bottom:10px;
	height:80px;
	font-size:12px;
	padding-top:10px;
}

.flinks{
	float:left;
	width:130px;
	border-right:#426459 1px solid;
	margin-left:30px;
	padding-bottom:10px;
	height:80px;
}


.flinks ul {margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; }
.flinks li {display: inline; clear:both; }

#menu-main-1{
background:none;!important
}
.findus{
	float:left;
	width:150px;
	margin-left:30px;
}

.findus img{
padding-top:10px;


}

.tour{
	padding:0px 6px 0px 7px;
	font-size:16px;
	color:#7F7F7F;
	position:relative;
}

.pricingin{
	padding:15px 0px 0px 40px;
	background: #006bae;

}

.buynow{
	background: url(images/buynow.png) no-repeat  top right;
	float:right;
	clear:both;
	font-size:26px;
	color:white;
	font-weight:bold;
	text-shadow:#754C00 1px 1px 1px;
	padding:11px 13px 0 0;
	width:600px;
	text-align:right;
	height:50px;
}

.buynow a{
	font-size:26px;
	color:white;
	font-weight:bold;
	text-shadow:#754C00 1px 1px 1px;
	letter-spacing:-1px;
}

.pricing{
	padding:10px 6px 0px 25px;
	font-size:16px;
	color:#7F7F7F;
}


.feat{
	padding:0px 6px 0px 6px;
	font-size:16px;
	color:#7F7F7F;
}

.feat_menu{
	background:#04395a;
//	background:#000000;
	float:left;
	width:255px;
	padding-left:50px;
	padding-bottom:20px;
	padding-top:50px;
	
}

.feat_menu .page_item{
	background:url(images/featture_menu_bg.png) no-repeat top right;
	height:25px; 
	text-align:right;
	padding:9px 10px 0px 0px;
	margin-bottom:2px;
	list-style:none;
	list-style-image:none;
	list-style-type:none;
}

.feat_menu .page_item:hover{
	background:#006bae;
	height:25px; 
	text-align:right;
	padding:9px 10px 0px 0px;
	margin-bottom:2px;
	list-style:none;
	list-style-image:none;
	list-style-type:none;
}

.feat_menu .page_item a{
	color:white;
	font-size:16px;
}



.feat_menu .current_page_item{
//	background:white;
	background:#006bae;
	height:25px;
	text-align:right;
	padding:9px 10px 0px 0px;
	margin-bottom:2px;
	font-weight:bold;
}

.feat_menu .current_page_item a{
//	color: #009C6A;
//	color: #006bae;
//	color: #04395a;
	color: white;
}

.feat_content{
	background:url(images/inner_top.png) no-repeat top left;
	float:left;
	width:600px;
	padding:40px 45px 20px 40px;
}

.feat_content h2{
	color:black;
	font-size:18px;
}

.feat_content strong{
//	color:#00AE77;
        color: #006bae;
	font-weight:bold;
	font-size:15px;

}
.feat_content b{
	color:#00AE77;
	font-weight:bold;
	font-size:15px;

}
.alignright{
	float:right;
	padding-left:10px;
}


.alignleft{
	float:left;
	padding-right:10px;
}

.menus .current-menu-item a{
	color:#409ed9;
//	color:#00AE77;

}

.tourtable{
	background:url(images/tour_table_bg.png) repeat-y top left;
	width:991px;

}
.tourtable tr{
	height:50px;
}

.tourtable td{
	padding-left:30px;
}

.tourtablehead{
	background:url(images/tour_header.png) no-repeat top left;
	width:991px;
}

.tourtablehead tr{
	height:49px;
}

.tourtablehead td{
	padding-left:30px;
}

.aligncenter{
	text-align:center;
}

.tourtable img{
text-align:center;
}

.tourtableend{
	background:url(images/tour_end.png) no-repeat top left;
	width:991px;
}

.tourtableend tr{
	height:50px;
}

.tourtableend td{
	padding-left:30px;
}


.pricing_t{
	background:url(images/price_bg.png) repeat-y top left;
	margin:0 7px 0 7px;
}

.pricing_h{
	background:url(images/price_header.png) repeat-y top left;
	margin:0 7px 0 7px;
	height:18px;

}


.pr_table{
	background:url(images/pricing_bg.png) no-repeat bottom left;
	padding-left:102px;
	padding-bottom:13px;

}


.cell{
	width:235px;
	float:left;

}

.cell .page_item{
	background:url(images/cell_item.png) no-repeat top left;
	height:30px;
	padding:7px 0px 0px 20px;
	font-size:15px;
	color:white;
	list-style:none;
	list-style-type:none;

}

.cell .current_page_item{
//	background:white;
	background:#006bae;
	padding:7px 0px 0px 20px;
	height:30px;
//	text-align:right;
//	margin-bottom:2px;
	font-weight:bold;
}

.cell .page_item:hover{
	font-weight:bold;
}


.cell .page_item a{
	font-size:15px;
	color:white;

}

.pr_content{
	padding:0px 10px 0px 20px;
	float:left;
	width:520px;
	background:none;
}

table.distributors_table a:hover { 
	text-decoration:underline;
}	

a.appnote_list:hover {
	text-decoration:underline;
}


.appnote_content{
	padding:0px 10px 0px 75px;
	float:left;
	width:850px;
	background:none;
}

.pr_content .hentry{
	background:none;
}

.contact_right{
	float:left;
	width:500px;


}

.contact_left{
	float:left;
	width:300px;

}

.dots{
	background:url(images/dots.png) repeat-x 0 0.85em;
}

.dots span{

background:#fff;
}
